@font-face {
    font-family: 'satoshi';
    src: url('Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'clash-display';
    src: url('ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'satoshi';
}
main{
    font-family: 'clash-display';
}
.carousel{
    display: flex;
    /* width: 95%;
    margin: auto; */
    gap: 1%;
}
.slider{
    overflow: hidden;
}
.slider .container{
    position: relative;
    left: 0;
    margin: 0;
    display: flex;
    width: 100%;
    animation: slider 20s infinite;
}

.slider .container img{
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
    padding: 0px 5px;
    float: left;
}
@keyframes slider {
    0%{left: 0;}
    20%{left: -100%;}
    25%{left: -100%;}
    45%{left: -200%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}
.carousel > div:nth-child(1){
    margin-top: 4%;
}
.carousel > div:nth-child(2){
    margin-top: 6%;
}
.carousel > div:nth-child(3){
    margin-top: 4%;
}
.carousel > div:nth-child(4){
    margin-top: 2%;
}


.feature{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding:40px 0px;
    margin-top: 20px;
    border-top: 1px solid black;
}

.features{
    width: 80%;
    margin: 70px auto;
}

.reverse{
    flex-direction: row-reverse;
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.more, .witness, .witnesses{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.witnesses{
    gap: 15px;
}
.witness img{
    width: 30px;
}

.witness span{
    margin-left: -15px;
}
.witness{
    margin-left: 15px;
}
.arrow{
    padding: 5px 8px;
    border: 1px solid rgb(138, 134, 134);
    border-radius: 100%;
}
.arrow span{
    font-size: 22px;
}